@{
    ViewData["Title"] = "Upgrade";
}

<h1>@ViewData["Title"].</h1>
<p>
    <div>
        This proccess will upgrade your account. This is a montly fee or yearly fee that will allow you
        to have more than 5 accounts stored at once, and gives access to replay
    </div>
</p>
