@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>Beauty in grace</h3>

<div>
    <h4>IcyWind</h4>
    <div>
        IcyWind
        <br />
        Copyright &copy; 2017 eddy5641<br />
        <br />
        This program is free software: you can redistribute it and/or modify<br />
        it under the terms of the GNU General Public License as published by<br />
        the Free Software Foundation, either version 3 of the License, or<br />
        (at your option) any later version.<br />
        <br />
        This program is distributed in the hope that it will be useful,<br />
        but WITHOUT ANY WARRANTY; without even the implied warranty of<br />
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the<br />
        GNU General Public License for more details.<br />
        <br />
        You should have received a copy of the GNU General Public License<br />
        along with this program. If not, see <a href="http://www.gnu.org/licenses/"></a>.
    </div>

    <br />
    <h4>Other licenses</h4>
    <br />
    <hr />
    <div>
        <h5>C# Libraries/Tools</h5>
        <hr />
        <!--Reference Licenses-->
        <a href="http://www.ag-software.net/agsxmpp-sdk/license/gpl-license/">agsXMPP</a>
        <br />
        <a href="https://github.com/JamesNK/Newtonsoft.Json/blob/master/LICENSE.md">Newtonsoft.Json</a>
        <br />
        <a href="https://www.microsoft.com/web/webpi/eula/net_library_eula_enu.htm">Net Libraries</a>
        <br />
        <a href="https://github.com/Microsoft/ApplicationInsights-Home/blob/master/LICENSE">Application Insights</a>
        <br />
        <a href="https://github.com/frostycpu/FinalesFunkeln">FinalesFunkeln</a>
        <br />
        <a href="https://github.com/bladecoding/LoLNotes">LoLNotes</a>
    </div>
    <br />
    <div>
        <h5>Javascript Libraries</h5>
        <hr />
        <!--Javascript Licenses-->
        <a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">Bootswatch</a>
        <br />
        <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE">Bootstrap</a>
        <br />
        <a href="https://github.com/jquery/jquery/blob/master/LICENSE.txt">jQuery</a>
        <br />
        <a href="https://modernizr.com/license/">Modernizr</a>
        <br />
        <a href="https://github.com/scottjehl/Respond/blob/master/LICENSE-MIT">Respond</a>
        <br />
        <a href="https://github.com/objectivehtml/FlipClock/blob/master/license.txt">FlipClock.js</a>
    </div>
    <br />

    <div>
        <h5>Awesome Users</h5>
        <hr />
        <!--Javascript Licenses-->
        <a href="https://github.com/bladecoding/">bladecoding</a>
        <br />
        <a href="https://github.com/snowl">Snowl</a>
        <br />
        <a href="https://github.com/imiuka/rtmp-sharp">imiuka</a>
        <br />
        <a href="https://github.com/Dispersia">Dispersia</a>
    </div>
</div>