@{
    ViewData["Title"] = "Home Page";
}

<!--you know what, fml idk how to html like a god-->
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <!--This handles the massive flip clock-->
            <div class="img-responsive" style="height: 300px; text-align: center;">
                <br/>
                <br/>
                <div class="clock" style="display: inline-block; text-align: center; width: auto;"></div>
            </div>
            <div class="carousel-caption" role="option">
                <p>
                    Comming soon
                    @{
                        if (DateTime.Now >= new DateTime(2017, 09, 13))
                        {
                            <a class="btn btn-default disabled" href="">
                                Download
                            </a>
                        }
                        else
                        {
                            <!--TODO: Put the download link here. Also block downloads if before date-->
                            <a class="btn btn-default" href="">
                                Download
                            </a>
                        }
                    }
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>IcyWind</h2>
        <ul>
            <li>It is like candy!</li>
            <li>A magical being</li>
            <li>Made with love</li>
            <li>Beautiful</li>
            <!--This is a tiny easter egg! You found it :D-->
            <li>Coming soon&trade;</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="">Install Icywind</a></li>
            <li><a href="">Uninstall Icywind</a></li>
            <li><a href="">Update IcyWind</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Features</h2>
        <ul>
            <li><a href="">Stores multiple accounts securely on the internet</a></li>
            <li><a href="">Auto-download replays</a></li>
            <li><a href="">Plugins - comming soon</a></li>
            <li><a href="">ReplayShare+ - comming soon</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Running my own IcyWind Server</h2>
        <ul>
            <li><a href="">Google Cloud</a></li>
            <li><a href="">Azure</a></li>
            <li><a href="">Digital Ocean</a></li>
            <li><a href="">AWS</a></li>
        </ul>
    </div>
</div>
